a {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: #4A8FE7;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Spartan', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor:pointer;
    text-decoration: none;
    transition:0.5s;
}

a:hover {
    background: rgb(56, 111, 182);
    transition:0.5s; 
}