.form-wrapper {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #42525b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0000006b;
    color:white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

form p {
    margin:0;
}

form .btn button {
    border: none;
    padding: 10px;
    background: #2c373e;
    color: white;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 100px;
}

form .btn {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.fadeIn-wrapper {
    background-color: rgba(0, 0, 0, 0.541);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.col {
    padding: 10px;
    max-width: 300px;
}

label {
    font-size: 11px;
}

input {
    padding: 5px;
    border: none;
    background: #42525b;
    color:white;
    outline: none;
    border-bottom: 1px solid #ffffff;
    width:95%;
    font-family: 'Poppins', sans-serif;
    color: #ffffff94;
}

.Dropdown-root {
    margin-top: 10px;
}

.close {
    left: 344px;
    position: absolute;
    top: 0;
    background: #565d60;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px #00000085;
    transition:0.3s;
}


.close:hover {
    transform: scale(1.1);
    transition:0.3s;
    cursor: pointer;
  }