.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffffb4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #6b8d92!important;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  color: #757575!important;
  font-size: 0.7rem!important;
  font-family: 'Poppins', sans-serif;
}

.MuiFormControlLabel-root {
  margin:0 10px 0 10px!important;
  height:30px;
  display: block;
}

.MuiFormGroup-root {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.login-google {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 3;
}

.main-wrapper {
  height: 84%;
  width: 100%;
}

.hover-fav-1:hover,
.hover-fav-2:hover {
  transform:scale(1.2);
}

div.hover-fav-1 .MuiSvgIcon-root {
  fill: #ffa0a0;;
}

div.hover-fav-2 .MuiSvgIcon-root {
  fill:#ffffffd2;
}


@media screen and (max-width: 647px) {
  div.MuiFormGroup-root {
    display:none;
  }

  .filter {
    display:grid;
    }
  
  .form-wrapper {
    overflow: auto;
    }

  .close {
    left: 276px;
    top: 405px;
  }
}
