.books{
    border: 3px solid #73A6AD;
    background:white;
    width: 80%;
    margin: 50px auto 10px auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
}

.flex-container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:50px;
    flex-wrap: wrap;
}

.card p {
    text-align: left;
    color:white;
    font-weight: bolder;
    padding: 3px;
    font-size: 15px;
    text-align:center;
    margin:5px auto 5px auto;
}

.card {
    background-color: #5a949c;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333333b8;
    cursor: pointer;
    min-width: 250px;
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }

    .card {
        width:auto;
    }
}