body,
html,
#root {
  height:100%;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.menu {
  display: inline-block;
  background-color: #7F9B88;
  height: 130px;
  color: white;
  width: 100%;
}

.menu h1 {
  color: #282A28;
  text-align:center;
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #00000038;
}

.menu p {
  font-weight: bold;
  margin: 10px;
  width: 60px;
  font-size: 0.9rem;
  color:white;
}

ul {
  list-style: none;
}

section ul li a {
  text-decoration: none;
  color:white;
  transition: 0.2s;
}

section ul li a:hover {
  transition: 0.2s;
  color: rgb(52, 54, 52);
}

section ul li {
  margin:10px;
}

.main {
  display:inline-block;
}

div.MuiFormGroup-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
